@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.header__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 1240px;
  margin: 40px 100px 0px 100px;
}
.header__content__nav {
  width: 20%;
  text-decoration: none;
}
.header__content__nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0%;
  list-style-type: none;
  white-space: nowrap;
}
.header__content__nav__list__link {
  text-decoration: none;
  color: #FF6060;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
}
.header__content__box__img__img {
  width: 210px;
}

.footer {
  position: relative;
  width: 100%;
  height: 279px;
}
.footer__content {
  width: 100%;
}
.footer__content__img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0%;
}

.Banner__content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  margin-top: 63px;
}
.Banner__content__img {
  border-radius: 25px;
  filter: brightness(70%);
  width: 1240px;
}
.Banner__content__title {
  position: absolute;
  margin: 0%;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  white-space: nowrap;
  color: #FFFFFF;
}

.Error__content {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 186px;
  margin-bottom: 156px;
}
.Error__content__text {
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #FF6060;
}
.Error__content__link {
  text-decoration: underline;
  color: #FF6060;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}

html {
  font-family: "Montserrat";
}

body {
  margin: 0px;
  overflow-x: hidden;
}

p {
  margin: 0%;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0px 100px 100px 100px;
}

.loader {
  display: inline-block;
  transform: translateZ(1px);
}

.loader > .loader__circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 150px 10px;
  border-radius: 50%;
  background: #FF6060;
  -webkit-animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.Card__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 1190px;
  padding: 31px 25px;
  border-radius: 30px;
  background-color: #F6F6F6;
  margin-top: 43px;
}

.card {
  position: relative;
  height: 340px;
  width: 340px;
  border-radius: 10px;
  margin: 25px 25px;
}
.card__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.card__content__text {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  color: #FFFFFF;
}
.card__content__text__text {
  position: absolute;
  left: 5.88%;
  width: 60%;
  bottom: 5.88%;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #FFFFFF;
}

.collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.collapse--logements {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  width: 1316px;
  margin: 0px 100px;
}
.collapse__content {
  width: 1023px;
}
.collapse__content--logements {
  margin: 35px 38px;
}
.collapse__content__boxtitle {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  color: white;
  bottom: 94.46%;
  height: 47px;
  width: 100%;
  border-radius: 5px;
  background-color: #ff6060;
}
.collapse__content__boxtitle__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.collapse__content__boxtitle__element__btn {
  padding: 0%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.collapse__content__boxtext {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 5px;
}
.collapse__content__boxtext__text {
  margin: 36px 27px 19px 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 142.6%;
  color: #FF6060;
}
.collapse__content__boxtext__text--equipments {
  list-style-type: none;
  width: 100%;
}

.carroussel {
  display: flex;
  justify-content: center;
  margin: 30px 100px;
}
.carroussel__container {
  position: relative;
  height: 415px;
  width: 1240px;
}
.carroussel__container__btn__right {
  position: absolute;
  right: 0%;
  top: 40%;
  padding: 0%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.carroussel__container__btn__left {
  position: absolute;
  left: 0%;
  top: 40%;
  padding: 0%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.carroussel__container__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 25px;
}
.carroussel__container__img__number {
  position: absolute;
  bottom: 0%;
  left: 50%;
  color: #ffffff;
  margin-bottom: 25px;
  font-size: 18px;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px 100px;
  width: 1240px;
}
.information__content__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #FF6060;
  margin: 0%;
}
.information__content__location {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  margin: 0% 0% 2% 0%;
  color: #FF6060;
}
.information__content__tags {
  display: flex;
  justify-content: flex-start;
}
.information__content__tags__items {
  border-radius: 10px;
  background-color: #FF6060;
  color: #FFFFFF;
  margin: 1% 1% 1% 0%;
  padding: 3px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.6%;
}
.information__rating {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0px 5px 0px;
}
.information__rating img {
  margin: 0% 1%;
}

.host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.host__img {
  border-radius: 50%;
  height: 64px;
}
.host__name {
  width: 33%;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #FF6060;
  text-align: end;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1240px) {
  /*---------------------------------------------------------------PAGE D'ACCUEIL----------------------------------------------------------------*/
  .main {
    margin-bottom: 0%;
  }
  .header__content {
    max-width: 700px;
    margin: 40px 0px 0px 0px;
  }
  .header__content__nav {
    width: 32%;
  }
  .Banner__content__img {
    max-width: 768px;
  }
  .Card__content {
    max-width: 768px;
    grid-template-columns: repeat(2, 1fr);
    padding: 31px 0px;
  }
  .card {
    width: 334px;
    height: 334px;
  }
  /*---------------------------------------------------------------PAGE LOGEMENTS----------------------------------------------------------------*/
  .carroussel__container {
    max-width: 700px;
  }
  .information {
    max-width: 700px;
  }
  .collapse--logements {
    max-width: 768px;
    margin: 0%;
    justify-content: space-around;
  }
  .information__rating img {
    margin: 0%;
  }
  .collapse__content {
    max-width: 768px;
  }
  .footer {
    height: 180px;
  }
}
@media only screen and (max-width: 768px) {
  .main {
    margin: 0px 0px 50px 0px;
  }
  .header__content {
    max-width: 335px;
    margin: 40px 0px 0px 0px;
  }
  .header__content__box__img {
    width: 145px;
  }
  .header__content__box__img__img {
    width: 100%;
  }
  .header__content__nav {
    width: 44%;
  }
  .header__content__nav__list__link {
    font-size: 12px;
    text-transform: uppercase;
  }
  .Banner {
    max-width: 335px;
    height: 111px;
    margin-top: 19px;
  }
  .Banner--aPropos {
    max-width: 335px;
    height: 225px;
    margin-top: 19px;
    margin-bottom: 9px;
  }
  .Banner__content {
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }
  .Banner__content__title {
    font-size: 24px;
    white-space: normal;
    left: 7%;
    width: 65%;
    bottom: 18%;
  }
  .Banner__content__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .Card__content {
    max-width: 334px;
    grid-template-columns: repeat(1, 1fr);
    padding: 31px 0px;
    background-color: white;
    margin-top: 22px;
    padding: 0px;
  }
  .card {
    width: 335px;
    height: 255px;
    margin: 0px 0px 20px 0px;
  }
  /*---------------------------------------------------------------PAGE LOGEMENTS----------------------------------------------------------------*/
  .information {
    max-width: 335px;
    flex-direction: column;
    margin-bottom: 6px;
  }
  .information__content {
    width: 100%;
  }
  .information__content__title {
    font-size: 18px;
  }
  .information__content__location {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .information__content__tags__items {
    font-size: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    width: 84px;
    height: 18px;
    text-align: center;
    padding: 2px 0px;
    border-radius: 5px;
  }
  .information__host {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
  .information__rating {
    margin: 0px;
    justify-content: flex-start;
    width: 50%;
  }
  .information__rating img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .host__img {
    height: 32px;
  }
  .host__name {
    font-size: 12px;
  }
  .carroussel {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .carroussel__container {
    max-width: 335px;
    max-height: 255px;
  }
  .carroussel__container__btn__right {
    top: 49%;
  }
  .carroussel__container__btn__left {
    top: 49%;
  }
  .carroussel__container__btn__right img {
    height: 19px;
  }
  .carroussel__container__btn__left img {
    height: 19px;
  }
  .collapse--logements {
    max-width: 334px;
    margin: 0%;
    justify-content: space-around;
    flex-direction: column;
  }
  .collapse__content {
    max-width: 335px;
  }
  .collapse__content--logements {
    margin: 10px 0px;
  }
  .collapse__content__boxtitle {
    font-size: 13px;
    height: 30px;
  }
  .collapse__content__boxtitle__element__btn img {
    width: 15px;
    height: 9px;
  }
  .collapse__content__boxtext__text {
    font-size: 12px;
    margin: 17px 7px 52px 11px;
  }
  .footer {
    height: 209px;
  }
  .Error__content {
    margin-bottom: 156px;
    height: 280px;
  }
  .Error__content__text {
    max-width: 260px;
    text-align: center;
    font-size: 18px;
    max-width: 300px;
  }
  .Error__content__img {
    max-width: 200px;
  }
  .Error__content__link {
    font-size: 18px;
    margin-top: 103px;
  }
}
@-webkit-keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
@keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}/*# sourceMappingURL=main.css.map */