/* .collapse__content--logements {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;

}


.collapse__content {
    width: 582px;
    margin: 35px 38px;
}

.collapse__content__box__text--equipments {
    list-style-type: none;
    width: 100%;
} */