.kasa-header {
    display: flex;
    justify-content: space-between;
}

.kasa-header-nav {
    width: 19%;
    color: #FF6060;
    text-decoration: none;

}

.kasa-header-nav-list {
    display: flex;
    justify-content: space-around;
    padding: 0%;
    list-style-type: none;
    white-space: nowrap;
}