.Banner__content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    margin-top: 63px;

    &__img {
        border-radius: 25px;
        filter: brightness(70%);
        width: 1240px;
    }
    
    &__title {
        position: absolute;
        margin: 0%;
        font-weight: 500;
        font-size: 48px;
        line-height: 142.6%;
        white-space: nowrap;
        color: $Color-secondary;
    }
}

