
.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;


&__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 1240px;
    margin: 40px 100px 0px 100px;
    &__nav {
        width: 20%;
        text-decoration: none;
    
        &__list {
            display: flex;
            justify-content: space-between;
            padding: 0%;
            list-style-type: none;
            white-space: nowrap;
            &__link {
                text-decoration: none;
                color: $Color-primary;
                font-weight: 500;
                font-size: 24px;
                line-height: 142.6%;
            
            }
        }
    }
    &__box__img__img {
        width: 210px;
    }
}
}


